@{
  Layout = "_Layout";
}

<a href ="/" class="btn btn-info">Home</a>

<h1>@Model["selectedCategory"].GetName() Recipes</h1>
<p><a href="/category/@Model["selectedCategory"].GetId()/delete">Delete this category</a></p>

@foreach(var recipe in @Model["categoriesRecipes"])
{
  <ul>
    <li><a href="/recipes/@recipe.GetId()">@recipe.GetName()</a></li>
  </ul>
}

<a href ='/categories/@Model["selectedCategory"].GetId()/add-recipe' class="btn btn-info">Add Recipe</a>

<h4>Add a recipe to this category:</h4>
<form action='/category/add_recipe' method='post'>
  <input id='category-id' name='category-id' type='hidden' value='@Model["selectedCategory"].GetId()'>
  <label for='recipe-id'>Select a recipe</label>
  <select id='recipe-id' name='recipe-id' type='text'>
    @foreach (var recipe in @Model["allRecipes"])
    {
      <option value='@recipe.GetId()'>@recipe.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
