@{
  Layout = "_Layout";
}

<a href ="/" class="btn btn-info">Home</a>
<div class= "row">
  <div class="col-md-6">
<h2>@Model["thisRecipe"].GetName() - Rating: @Model["thisRecipe"].GetRating() stars</h2>
<p><a href='/recipe/@Model["thisRecipe"].GetId()/delete'>Delete recipe</a></p>
<p><a href='/recipe/@Model["thisRecipe"].GetId()/update-form'>Update recipe</a></p>
</div>
<div class="col-md-6">
  <h3> Rate this recipe:</h3>
  <form action="/recipe/@Model["thisRecipe"].GetId()/rating" method="post">
  <select id='rating' name='rating' type='text'>
    <option value = 1> 1 star</option>
    <option value = 2> 2 star</option>
    <option value = 3> 3 star</option>
    <option value = 4> 4 star</option>
    <option value = 5> 5 star</option>
  </select>
  <button type='submit' class="btn btn-info">Add</button>
</form>
</div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Categories: </h4>
    @foreach (var category in @Model["categoriesRecipes"])
    {
      <ul>
        <li><a href="/categories/@category.GetId()">@category.GetName()</a>  <a href='/recipe/@Model["thisRecipe"].GetId()/category/@category.GetId()/deleted'>(x)</a> </li>
      </ul>
    }
  </div>

  <div class="col-md-6">
    <h4>Add a category to this recipe:</h4>
    <form action='/recipe/add_category_to_recipe' method='post'>
      <input id='recipe-id' name='recipe-id' type='hidden' value='@Model["thisRecipe"].GetId()'>
      <label for='category-id'>Select a category</label>
      <select id='category-id' name='category-id' type='text'>
        @foreach (var category in @Model["allCategories"])
        {
          <option value='@category.GetId()'>@category.GetName()</option>
        }
      </select>
      <button type='submit' class="btn btn-info">Add</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Add ingredients:</h3>
    <form action='/recipe/add_ingredient_to_recipe' method='post'>
      <input id='recipe-id' name='recipe-id' type='hidden' value='@Model["thisRecipe"].GetId()'>
      <label for='ingredient-id'>Select an ingredient</label>
      <select id='ingredient-id' name='ingredient-id' type='text'>
        @foreach (var ingredient in @Model["allIngredients"])
        {
          <option value='@ingredient.GetId()'>@ingredient.GetName()</option>
        }
      </select>
      <button type='submit' class="btn btn-info">Add</button>
    </form>

    <form action='/recipes/@Model["thisRecipe"].GetId()/add-ingredient' method="post">
      <label for="ingredient">Ingredient</label>
      <input name="ingredient" type="text">
      <button type="submit" class="btn btn-success">Add</button>
    </form>

    <h3>Ingredients:</h3>
    @foreach (var ingredient in @Model["ingredientsRecipes"])
    {
      <ul>
        <li>@ingredient.GetName()  <a href="/recipe/@Model["thisRecipe"].GetId()/ingredient/@ingredient.GetId()/update-form">update</a>  <a href="/recipe/@Model["thisRecipe"].GetId()/ingredient/@ingredient.GetId()/deleted">(x)</a></li>
      </ul>
    }
  </div>

  <div class="col-md-6">
    <h3>Instructions:</h3>
    <p>@Model["thisRecipe"].GetInstructions()</p>
  </div>
</div>
